/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

//variable

:root {
    --primary-font: "Geist", sans-serif;

    --primary-color: #000000;
    --secondary-color: #F23481;
    --white-color: #ffffff;
    --paragraph-color: #4B5563;

    --border-color: #3D3D3D;
    --box-shadow: 0px 18px 24px 0px rgba(0, 0, 0, 0.16);
    
    --common-bg: #F9FAFB;
}

img {
    max-width: 100%;
}

.container-900 {
    max-width: 924px;
    margin: auto;
    padding: 0 12px;
}

.container-1150 {
    max-width: 1174px;
    margin: auto;
    padding: 0 12px;
}

.container-1220 {
    max-width: 1244px;
    margin: auto;
    padding: 0 12px;
}

.container-1290 {
    max-width: 1314px;
    margin: auto;
    padding: 0 12px;
}

.container-1370 {
    max-width: 1394px;
    margin: auto;
    padding: 0 12px;
}

.container-1400 {
    max-width: 1424px;
    margin: auto;
    padding: 0 12px;
}

.container-1905 {
    max-width: 1929px;
    margin: auto;
    padding: 0 12px;
}