/****** Blog Page *********/

/****** Hero Blog Section Start *********/
.al-hero-content-blog {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 80px 0;

    @include large-screen {
        padding: 180px 0;
    }

    @include screen-992 {
        padding: 120px 10px;
    }

    @include screen-768 {
        padding: 80px 10px;
    }

    @include portrait-phone {
        padding: 40px 10px;
    }
}

.al-hero-title-blog {
    font-size: 60px;
    max-width: 1260px;
    color: var(--white-color);
    text-align: center;
    margin: 0 auto;
    line-height: 60px;

    @include screen-992 {
        font-size: 45px;
        line-height: 45px;
    }

    @include screen-768 {
        font-size: 40px;
        line-height: 40px;
    }

    @include portrait-phone {
        font-size: 25px;
        line-height: 28px;
    }
}

.al-hero-subtitle-blog {
    font-size: 24px;
    line-height: 32px;
    color: #E5E7EB;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 32px;
}

.al-hero-hr-blog {
    text-align: center;
    width: 64px;
    height: 4px;
    display: inline-block;
    border-radius: 9999px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    opacity: 1;
    margin: 0;
}

/****** Hero Financial Section End *********/

/****** Blog Section Start *********/
.al-blog-section {
    padding: 64px 0 148px 0;
}

.al-blog-card-thumb {
    img {
        border-radius: 12px 12px 0 0;

        @include screen-992 {
            width: 100%;
        }
    }
}

.al-blog-content {
    padding: 24px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 12px 12px;
}

.al-blog-content-supply {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 9999px;
    padding: 2px 10px;
}

.al-blog-content-date {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;
}

.al-blog-title {
    h6 {
        font-size: 18px;
        line-height: 28px;
        margin-top: 12px;
        margin-bottom: 12px;
        transition: 0.3s;

        &:hover {
            color: var(--secondary-color);
        }

        @include large-screen {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.al-blog-subtitle {
    line-height: 24px;
    margin-bottom: 12px;

    @include large-screen {
        font-size: 14px;
    }
}

.al-blog-content-bottom-author {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--paragraph-color);

    img {
        margin-right: 8px;
    }
}

.al-blog-content-bottom-number {
    font-size: 14px;
    line-height: 20px;
}

.page-pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 112px;
    @include screen-992 {
        margin-top: 70px;
    }
    @include portrait-phone {
        flex-wrap: wrap;
        margin-top: 40px;
    }
    li {
        a {
            padding: 10px 17px;
            background: transparent;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: var(--paragraph-color);
            border: 1px solid #E5E7EB;
            border-radius: 6px;
        }
    }
}

.page-pagination li a.active {
    background: var(--secondary-color);
    color: var(--white-color);
    border-color: var(--secondary-color);
}
/****** Blog Section End *********/