/****** Product Page *********/

/****** Hero Product Section Start *********/
.al-hero-content-product {
    background-position: center center;
    background-size: cover;
    padding: 80px 0;
    z-index: 1;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 0, 0, 0.4);
        z-index: -1;
        mix-blend-mode: multiply;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
        opacity: 0.6;
    }

    @include screen-768 {
        padding: 50px 10px;
    }

    @include portrait-phone {
        padding: 40px 10px;
    }
}

.al-hero-title-product {
    font-size: 60px;
    max-width: 1050px;
    color: var(--white-color);
    margin: 0 auto;
    line-height: 60px;

    span {
        color: var(--secondary-color);
    }

    @include screen-992 {
        font-size: 45px;
        line-height: 45px;
    }

    @include screen-768 {
        font-size: 40px;
        line-height: 40px;
    }

    @include portrait-phone {
        font-size: 30px;
        line-height: 28px;
    }
}

.al-hero-subtitle-product {
    font-size: 20px;
    line-height: 28px;
    color: #E5E7EB;
    margin-top: 24px;
    margin-bottom: 32px;

    @include screen-768 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.al-hero-product-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: var(--secondary-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 29px;
    border-radius: 9999px;
    margin-top: 24px;
    border: none;
    position: relative;
    overflow: hidden;
    transition: background 0.4s ease;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background: var(--primary-color);
        transform: translate(-50%, -50%) scale(0);
        transition: 0.5s ease-out;
        border-radius: 50%;
        z-index: 0;
    }

    &:hover::before {
        transform: translate(-50%, -50%) scale(1);
    }

    span,
    i {
        position: relative;
        z-index: 1;
    }

    i {
        transition: transform 0.4s ease;
    }

    &:hover i {
        transform: translateX(6px);
    }

}

/****** Hero Product Section End *********/

/****** Product Section Start *********/
.al-product-content-top {
    padding: 64px 0;

    @include portrait-phone {
        padding: 40px 0;
    }
}

.al-product-content-top-title {
    text-align: center;
    line-height: 36px;
    margin-bottom: 48px;

    @include portrait-phone {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.al-product-card {
    transition: 0.3s;
    &:hover {
        .al-product-card-thumb {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.al-product-card-thumb {
    overflow: hidden;
    img {
        border-radius: 8px 8px 0 0;
        transition: 0.3s;
        width: 100%;
    }
}

.al-product-card-content {
    background: var(--white-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    padding: 24px;
}

.al-product-card-title {
    line-height: 28px;
    font-weight: 600;

    @include screen-768 {
        font-size: 18px;
    }
}

.al-product-content-bottom {
    background: var(--common-bg);
    padding: 64px 0;

    @include portrait-phone {
        padding: 40px 10px;
    }
}

/****** Product Section Start *********/

/****** Explore Section Start *********/
.al-explore-section {
    padding: 64px 0;

    @include portrait-phone {
        padding: 40px 0;
    }
}

.al-explore-card {
    transition: 0.3s;

    &:hover {
        .al-explore-card-thumb {
            img {
                animation: bounce 0.6s;
            }
        }
    }
}

.al-explore-title {
    margin-bottom: 48px;
    line-height: 36px;

    @include portrait-phone {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.al-explore-card-thumb {
    width: 128px;
    height: 128px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;

    img {
        transition: 0.6s;
    }

    @include screen-768 {
        width: 100px;
        height: 100px;
    }

    @include portrait-phone {
        width: 80px;
        height: 80px;
    }
}

.al-explore-card-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 16px;
}

/****** Explore Section End *********/

/****** Solution Product Section Start *********/
.al-solution-product-content {
    background-color: var(--secondary-color);
    padding: 64px 0;

    @include screen-768 {
        padding: 50px 10px;
    }

    @include portrait-phone {
        padding: 40px 10px;
    }
}

.al-solution-product-subtitle {
    font-size: 18px;
    line-height: 28px;
    color: var(--white-color);
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 48px;

    @include portrait-phone {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.al-product-btn-group {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.al-solution-product-btn-one {
    padding: 10px 29px;
    background: var(--white-color);
    color: var(--secondary-color);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
    }

    img {
        margin-right: 12px;
    }
}

.al-solution-product-btn-two {
    padding: 10px 29px;
    background: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    i {
        margin-left: 16px;
    }
}

/****** Solution Product Section End *********/