/****** Quality Insurance Page *********/
.al-hero-section-quality {
}

.al-hero-content-single {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 187px 0;

    @include large-screen {
        padding: 120px 10px;
    }

    @include screen-768 {
        padding: 80px 10px;
    }

    @include portrait-phone {
        padding: 40px 10px;
    }
}

.al-hero-title-quality {
    font-size: 60px;
    max-width: 1260px;
    color: var(--white-color);
    margin: 0 auto;
    line-height: 60px;

    @include screen-992 {
        font-size: 45px;
        line-height: 45px;
    }

    @include screen-768 {
        font-size: 40px;
        line-height: 40px;
    }

    @include portrait-phone {
        font-size: 25px;
        line-height: 28px;
    }
}

.al-hero-subtitle-quality {
    color: #E5E7EB;
}

/****** Cost Section Start *********/
.al-cost-content {
    background: #F9FAFB;
    padding: 80px 0;

    @include screen-768 {
        padding: 50px 10px;
    }

    @include portrait-phone {
        padding: 40px 10px;
    }
}

.al-cost-card {
    background: #FFFFFF;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 32px;

    @include screen-1400 {
        min-height: 300px;
    }

    @include screen-768 {
        min-height: 350px;
    }

    @include portrait-phone {
        min-height: 250px;
        padding: 20px;
    }
}

.al-cost-card-thumb {
    width: 64px;
    height: 64px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.al-cost-card-title {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 8px;

    @include screen-992 {
        font-size: 22px;
        line-height: 26px;
    }

    @include screen-768 {
        font-size: 16px;
        line-height: 26px;
    }

    @include portrait-phone {
        font-size: 20px;
    }
}

.al-cost-card-subtitle {
    font-size: 16px;
    line-height: 26px;
    color: var(--paragraph-color);
    margin: 0 auto;

    @include large-screen {
        font-size: 13px;
    }
}

/****** Cost Section End *********/

/****** Quality Section Start *********/
.al-quality-section {
    padding: 80px 0;

    @include screen-768 {
        padding: 50px 0;
    }

    @include portrait-phone {
        padding: 40px 0;
    }
}

.al-quality-title {
    line-height: 48px;

    @include screen-768 {
        font-size: 35px;
        line-height: 35px;
    }

    @include portrait-phone {
        font-size: 26px;
        line-height: 30px;
    }
}

.al-quality-subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 64px;
    color: var(--paragraph-color);

    @include portrait-phone {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

.al-quality-row-margin {
    margin-bottom: 64px;
    @include screen-768 {
        margin-bottom: 40px;
    }
    @include portrait-phone {
        margin-bottom: 30px;
    }
}

.al-quality-card-subtitle {
    line-height: 24px;
    color: var(--paragraph-color);
}

.al-quality-card-subtitle-margin {
    margin-top: 24px;
    margin-bottom: 16px;
}

.al-quality-card-thumb {
    img {
        border-radius: 8px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
        @include screen-992 {
            width: 100%;
        }
    }
}

.al-quality-card-meta {
    display: flex;
    gap: 16px;

    @include screen-768 {
        flex-wrap: wrap;
    }
}

.al-quality-card-box {
    padding: 14px 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
}

.badge {
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
}

.badge.blue {
    color: #2563EB;
    border-color: #2563EB;
}

.badge.green {
    color: #16A34A;
    border-color: #16A34A;
}

/****** Quality Section End *********/