/****** Quality Insurance Page *********/

/****** Quality Section Start *********/
.al-quality-section {
    padding: 80px 0;

    @include screen-768 {
        padding: 50px 0;
    }

    @include portrait-phone {
        padding: 40px 0;
    }
}

.al-quality-title {
    line-height: 48px;
}

.al-quality-subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 64px;
    color: #4B5563;

    @include portrait-phone {
        font-size: 16px;
    }
}

.al-quality-card-subtitle {
    line-height: 24px;
    color: #4B5563;
}

.al-quality-card-subtitle-margin {
    margin-top: 24px;
    margin-bottom: 16px;
}
/****** Quality Section End *********/