/****** Yiwu Market Page *********/

/****** Hero Yiwu Section Start *********/
.al-hero-content-yiwu {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;

    @include large-screen {
        padding: 100px 10px;
    }

    @include screen-768 {
        padding: 60px 10px;
    }

    @include portrait-phone {
        padding: 40px 10px;
    }
}

.al-hero-top-yiwu {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 9999px;
    padding: 3px 11px;
}

.al-hero-title-yiwu {
    max-width: 550px;
    font-size: 60px;
    color: var(--white-color);
    margin: 0 auto;
    margin-top: 24px;
    line-height: 60px;

    @include screen-992 {
        font-size: 45px;
        line-height: 45px;
    }

    @include screen-768 {
        font-size: 40px;
        line-height: 40px;
    }

    @include portrait-phone {
        font-size: 30px;
        line-height: 28px;
    }
}

.al-hero-subtitle-yiwu {
    font-size: 24px;
    line-height: 32px;
    color: var(--white-color);
    max-width: 750px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 32px;

    @include screen-768 {
        font-size: 18px;
        line-height: 24xpx;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    @include portrait-phone {
        font-size: 16px;
        line-height: 22px;
    }

}

.al-hero-yiwu-btn {
    padding: 10px 29px;
    background: var(--white-color);
    color: var(--secondary-color);
    border-radius: 6px;
    display: inline-block;

    i {
        color: var(--secondary-color);
        padding-left: 16px;
    }

    @include portrait-phone {
        padding: 10px 15px;
    }
}

/****** Hero Shantou Section End *********/

.al-solution-title-yiwu {
    max-width: 1400px;
    line-height: 40px;
}

.al-solution-subtitle-yiwu {
    max-width: 662px;
}